.text-field-component {
    display: flex;
    align-items: center;

    > label {
        padding-right: 4px;
    }

    > input {
        all: unset;
        height: 24px;
        width: 100%;
        padding-inline: 4px;
        border-bottom: 1px dashed black;
    }
}