@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@mixin scrollbar {
    &::-webkit-scrollbar { width: 10px; }
    &::-webkit-scrollbar-corner { display: none; }

    &::-webkit-scrollbar-thumb {
        cursor: default;
        background-color: #ffffff4d;
        border-radius: 50px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto Mono", monospace;
    background: linear-gradient(#37383D, #202125);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background: linear-gradient(#ffffff0d 1px, transparent 1px), linear-gradient(to right, #ffffff0d 1px, transparent 1px);
        background-size: 39px 39px;
        background-position-x: -16px;
        background-position-y: -13px;
    }

    > #root {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: inherit;

        > .container {
            display: grid;
            width: 50%;
            min-width: 400px;
            min-height: 100px;
            height: 30%;
            grid-template-columns: 1fr 1fr;

            > .column {
                display: flex;
                flex-direction: column;
                position: relative;

                &:first-child {
                    margin-right: 8px;
                }

                > textarea {
                    height: 100%;
                    line-height: 19px;
                }

                > .copy-button {
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    border-radius: 4px 0;
                    background-color: #616163 !important;
                }
            }

            .text-input {
                font-family: "Roboto Mono", monospace;
                resize: none;
                outline: none;
                color: white;
                font-size: 14px;
                line-break: anywhere;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px rgba(255, 255, 255, 0.2);

                @include scrollbar
            }

            button {
                cursor: pointer;
                color: white;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px rgba(255, 255, 255, 0.2);

                &.active {
                    border: 1px solid rgba(255, 255, 255, 0.3) !important;
                    background-color: rgba(255, 255, 255, 0.3) !important;
                    box-shadow: 0 1px rgba(0, 0, 0, 0.2) !important;
                }
            }

            .key-field {
                display: flex;
                margin-bottom: 6px;

                > input {
                    width: 100%;
                    margin-right: 6px;
                }
            }

            .text-stats {
                position: absolute;
                right: 0;
                bottom: -19px;
                font-size: 12px;
                color: grey
            }
        }
    }
}